<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A Web Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <div class="brand-logo">
                    Sean's Portfolio
                </div>
                <ul id="nav-mobile" class="right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3 class="center">About Me</h3>
            
            <div class="row">
                <div class="col s5">
                    <div class="row">
                        <img src="~/images/PortfolioImg.jpg" alt="Image of Sean" class="responsive-img z-depth-3"/>
                    </div>
                    <div class="row">
                        <h5 class="center">Sean McNeil</h5>
                    </div>
                    <div class="row">
                        <h6 class="center">I code and stuff!</h6>
                    </div>
                </div>
                <div class="col s5 offset-s2">
                    <p>Spicy jalapeno bacon ipsum dolor amet velit sirloin culpa consectetur. Frankfurter bacon turkey jerky, cillum ex flank. Leberkas ribeye pancetta tongue ut reprehenderit filet mignon irure ut in commodo pork chop turkey corned beef esse. Meatball mollit sed, brisket consequat shank sausage pancetta tongue ut sirloin ex. Ut adipisicing incididunt, mollit ribeye cupim flank ground round cow consectetur fatback beef chuck. Nostrud qui ground round, frankfurter in est swine. Rump ad leberkas ribeye, ullamco pork tongue ipsum sed.</p>
                    <p>Pork ribeye ham hock in drumstick beef adipisicing. Pork belly cillum bresaola, do andouille swine eiusmod consectetur salami pariatur boudin capicola. Dolore in cupidatat prosciutto ribeye. Doner nostrud non landjaeger ex laboris consectetur shankle ribeye dolore tenderloin aliquip kevin cupim ut. Pork chuck cupidatat dolore, burgdoggen ribeye tail aliqua ut duis leberkas nulla.</p>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>