<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A Web Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <div class="brand-logo">
                    Sean's Portfolio
                </div>
                <ul id="nav-mobile" class="right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3 class="center">Here are some projects of mine!</h3>
            
            <div class="card">
                <div class="card-image">
                    <img src="~/images/WhereStreamScreen.png" alt="Where's the Stream Project" class="responsive-img">
                </div>
                <div class="card-content">
                    <span class="card-title">Where's the Stream?</span>
                    <p>Spicy jalapeno bacon ipsum dolor amet pork belly tri-tip shoulder jowl landjaeger.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://www.fillmurray.com/640/360" alt="Where's the Stream Project" class="responsive-img">
                </div>
                <div class="card-content">
                    <span class="card-title">Project 2</span>
                    <p>Spicy jalapeno bacon ipsum dolor amet pork belly tri-tip shoulder jowl landjaeger.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://www.fillmurray.com/640/360" alt="Where's the Stream Project" class="responsive-img">
                </div>
                <div class="card-content">
                    <span class="card-title">Project 3</span>
                    <p>Spicy jalapeno bacon ipsum dolor amet pork belly tri-tip shoulder jowl landjaeger.</p>
                </div>
            </div>
        </div>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>