@model User

<div class="text-center">
    <h1 class="font-monospace text-success">SUCCESS</h1>
    <h4>Welcome <span class="text-info">@Model.FirstName!</span></h4>
    <a href="/logout" class="btn btn-danger mt-4">Logout</a>
</div>