@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Most recent name: @{ if (Context.Session.GetString("User") == null)
        {
            <span>No name input yet</span>
        } else {
            @Context.Session.GetString("User")
        }
    }</h1>
    <h2>The current sum is: @{ if (Context.Session.GetInt32("Sum") == 0)
        {
            <span>No sum</span>
        } else {
            @Context.Session.GetInt32("Sum")
        }
    }</h2>
    <form action="setName" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name" class="form-control">
        <label for="Num">Add a Number</label>
        <input type="number" name="Num" id="Num" class="form-control">
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    <a href="/delete" class="btn btn-danger">Clear Session</a>
</div>
