@model Dish

<div class="text-center">
    <h1>Add a New Dish!</h1>
    <form action="/dish/new/create" method="post">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="Name">Name of Dish:</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Chef">Chef's Name:</label>
                <input asp-for="Chef" class="form-control">
                <span asp-validation-for="Chef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Calories"># of Calories:</label>
                <input asp-for="Calories" class="form-control">
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Tastiness">Tastiness:</label>
                <select asp-for="Tastiness" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Tastiness" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Add a Dish!" class="btn btn-info">
            </div>
        </div>
    </div>
    </form>
</div>