@model User

<div class="text-center">
    <div class="row">
        <h3 class="text-start">Welcome @Model.FirstName</h3>
        <div class="col text-end">
            <p>Current Balance:</p>
            <table class="table">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <a href="/logout" class="btn btn-danger">Logout</a>
</div>