@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h1>Register</h1>
            <partial name="RegUserPartial"/>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <h1>Login</h1>
            <partial name="LogUserPartial"/>
        </div>
    </div>
</div>
