@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="password-section">
        <h1>Random Passcode (passcode #@Context.Session.GetInt32("Count")<span>)</span></h1>
            <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div class="pass-field">
                            <h5>@Context.Session.GetString("RandomPass")</h5>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <a href="generate" class="btn btn-primary">Generate</a>
    </div>
    <a href="clear" class="btn btn-danger">Clear Count</a>
</div>
